<div class="container">
    <div class="center">
        <h3>Tyler Cloetingh</h3>
        <p>
            Data first software engineer with a Full-Stack skillset. Self-taught and self driven with a desire to learn it all. 
            Working currently on large enterprise systems by day and learning the rest on my free time. Started out using Ruby on Rails
            but eventually found a preference for Angular - Spring Boot - Postgres. 
        </p>
        <div class="d-grid gap-2 btn-container" >
            <button class="btn btn-lg btn-primary" type="button" routerLink="/resume">Resume</button>
            <button class="btn btn-lg btn-primary" type="button" routerLink="/cocktail-database">Cocktail Database</button>
            <button class="btn btn-lg btn-primary" type="button" routerLink="/home-calculators">Home Calculators</button>
        </div>
    </div>
</div>

