<div class="container">
    <div class="center">
        <p>Tyler Cloetingh</p>
        <div class="d-grid gap-2 btn-container" >
            <button class="btn btn-lg btn-primary" type="button" routerLink="/resume">About Me</button>
            <button class="btn btn-lg btn-primary" type="button" routerLink="/cocktail-database">Cocktail Database</button>
            <button class="btn btn-lg btn-primary" type="button" routerLink="/home-calculators">Home Calcultors</button>
        </div>
      </div>
</div>

